@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

* {
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('./img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  margin: 100px auto;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .App {
    width: 80%;
    margin: 50px auto;
  }
}

p {
  color: #DB7093;
}

.form-container {
  width: 80%;
  margin: 50px 0;
}

form {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  background: #DB7093;
  color: #FFF;
}

::placeholder {
  color: #FFB6C1;
}

.error {
  margin: -3px 0 -1px;
  color: #C71585;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  width: 300px;
}

button {
  width: 100px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background: #FFB6C1;
  color: #DB7093;
  font-weight: bold;
}

.user-list {
  margin-top: 50px;
}

.nav-link {
  cursor: pointer;
  color: #DB7093 !important;
}

.nav-link.active {
  background: #DB7093 !important;
  color: #FFF !important;
}

.card-title {
  font-size: 1.5rem;
  color: #DB7093;
  font-family: 'Roboto Slab', serif;
}

ul, li {
  color: #DB7093;
}